{% extends "open_channel_data_viewer/base.html" %}

{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">Navigation</li>
  <li><a href="{% url 'open_channel_data_viewer:home' %}">Sites</a></li>
  <li class="active"><a href="">Site Details</a></li>
{% endblock %}

{% block app_content %}
  <h3>Sites > {{site_name}}</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
    <li id="sediment-transport-tab"><a data-toggle="tab" href="#sediment-transport">Sediment Transport</a></li>
  </ul>

  <div class="tab-content">
    <div id="summary" class="tab-pane fade in active">
      <div class="col-md-6">
        <table class="table table-hover">
          <tr>
            <td class="name">Site Name</td>
            <td>{{site_name}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div id="sediment-transport" class="tab-pane fade">
      {% gizmo plot_view scatter_plot_view %}
    </div>
  </div>
{% endblock %}

{% block app_actions %}
{% endblock %}